@font-face {
    font-family: dosisBold;
    src: url("../fonts/Dosis-Bold.otf");
}

@font-face {
    font-family: dosisBold;
    src: url("../fonts/Dosis-Bold.otf");
}

@font-face {
    font-family: dosisExtraBold;
    src: url("../fonts/Dosis-ExtraBold.otf");
}

@font-face {
    font-family: dosisExtraLight;
    src: url("../fonts/Dosis-ExtraLight.otf");
}

@font-face {
    font-family: dosisLight;
    src: url("../fonts/Dosis-Light.otf");
}

@font-face {
    font-family: dosisMedium;
    src: url("../fonts/Dosis-Medium.otf");
}

@font-face {
    font-family: dosisRegular;
    src: url("../fonts/Dosis-Regular.otf");
}

@font-face {
    font-family: dosisSemiBold;
    src: url("../fonts/Dosis-SemiBold.otf");
}

body {
    background-color: rgb(235, 234, 234);
    color: rgb(79, 79, 79);
    font-family: dosisMedium;
}

.qrCode {
    margin: 0;
    word-wrap: break-word;
    width: 200px;
    font-size: 10px;
}

.homeScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .gameCodeInput {
        margin-bottom: 5px;
    }

    .wrongCode {
        border-color: red;
    }

    .joinGameBtn {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .scanGameBtn {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .createGameBtn {}
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.codeInfo {
    position: absolute;
    top: 0;
    right: 0;
}

.closeSite {
    position: absolute;
    color: rgba(218, 54, 54, 0.5);
    margin: 0;
    top: -40px;
    left: 25px;
    font-size: 90px;
    transform: rotate(45deg);
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    z-index: 1000;

    &:hover {
        color: rgba(218, 54, 54, 1);
        cursor: pointer;
    }
}

.bgModal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .modalContent {
        width: 400px;
        height: 400px;
        background-color: white;
        border-radius: 4px;
        text-align: center;
        padding: 20px;
        position: relative;

        .modalCloseButton {
            position: absolute;
            top: -78px;
            right: -30px;
            font-size: 90px;
            transform: rotate(45deg);
            -webkit-user-select: none;
            /* Safari */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* IE10+/Edge */
            user-select: none;
            /* Standard */
            z-index: 999;
            color: rgb(92, 22, 22);

            &:hover {
                color: rgb(158, 37, 37);
            }
        }
    }
}

.topHeader {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 999;

    .title {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 70px;
        font-family: dosisBold;

        @media (max-width: 680px) {
            font-size: 40px;
        }
    }
}

.qrGameCodeCol {
    top: 0px;
    background-color: white;
    border-bottom-left-radius: 25px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    z-index: 1000;

    @media (max-width: 680px) {
        top: 50px;
    }

    .gameCode {
        background-color: #164199;
        padding: 5px;
        text-align: center;
        color: white;
        border-radius: 25px;
    }

    .qrCode {
        @media (max-width: 680px) {
            display: none;
        }
    }
}