@font-face {
  font-family: dosisBold;
  src: url("../fonts/Dosis-Bold.otf");
}

@font-face {
  font-family: dosisBold;
  src: url("../fonts/Dosis-Bold.otf");
}

@font-face {
  font-family: dosisExtraBold;
  src: url("../fonts/Dosis-ExtraBold.otf");
}

@font-face {
  font-family: dosisExtraLight;
  src: url("../fonts/Dosis-ExtraLight.otf");
}

@font-face {
  font-family: dosisLight;
  src: url("../fonts/Dosis-Light.otf");
}

@font-face {
  font-family: dosisMedium;
  src: url("../fonts/Dosis-Medium.otf");
}

@font-face {
  font-family: dosisRegular;
  src: url("../fonts/Dosis-Regular.otf");
}

@font-face {
  font-family: dosisSemiBold;
  src: url("../fonts/Dosis-SemiBold.otf");
}

body {
  background-color: #ebeaea;
  color: #4f4f4f;
  font-family: dosisMedium;
}

.qrCode {
  margin: 0;
  word-wrap: break-word;
  width: 200px;
  font-size: 10px;
}

.homeScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.homeScreen .gameCodeInput {
  margin-bottom: 5px;
}

.homeScreen .wrongCode {
  border-color: red;
}

.homeScreen .joinGameBtn {
  margin-top: 10px;
  margin-bottom: 30px;
}

.homeScreen .scanGameBtn {
  margin-top: 10px;
  margin-bottom: 30px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.codeInfo {
  position: absolute;
  top: 0;
  right: 0;
}

.closeSite {
  position: absolute;
  color: rgba(218, 54, 54, 0.5);
  margin: 0;
  top: -40px;
  left: 25px;
  font-size: 90px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  z-index: 1000;
}

.closeSite:hover {
  color: #da3636;
  cursor: pointer;
}

.bgModal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1001;
}

.bgModal .modalContent {
  width: 400px;
  height: 400px;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

@media (max-width: 414px) {
  .bgModal .modalContent {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 375px) {
  .bgModal .modalContent {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 320px) {
  .bgModal .modalContent {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 700px) {
  .bgModal .modalContent {
    width: 500px;
    height: 500px;
  }
}

.bgModal .modalContent .qrReader {
  border-radius: 25px;
}

.bgModal .modalContent .modalCloseButton {
  position: absolute;
  top: -60px;
  right: -10px;
  font-size: 90px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  z-index: 999;
  color: #5c1616;
}

.bgModal .modalContent .modalCloseButton:hover {
  color: #9e2525;
}

.topHeader {
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 999;
}

.topHeader .title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  font-family: dosisBold;
}

@media (max-width: 680px) {
  .topHeader .title {
    font-size: 40px;
  }
}

.qrGameCodeCol {
  top: 0px;
  background-color: white;
  border-bottom-left-radius: 25px;
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: center;
  z-index: 1000;
}

@media (max-width: 680px) {
  .qrGameCodeCol {
    top: 50px;
  }
}

.qrGameCodeCol .gameCode {
  background-color: #164199;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 25px;
}

@media (max-width: 680px) {
  .qrGameCodeCol .qrCode {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */